.main {
  min-height: 100vh;
}

.hero {
  padding: 11rem 0;
  background-image: linear-gradient(45deg, #62bdfc 0%, #8490ff 100%);
}

.hero > h1 {
  max-width: 720px;
  margin: 0 auto;
  font-size: 4.8rem;
  color: #fff;
}

.blog-list {
  max-width: 72rem;
  margin: 5rem auto;
}

.blog-post {
  padding-bottom: 3rem;
}

.blog-post-title {
  color: #222;
  line-height: 1.2em;
  font-size: 1.8rem;
  font-weight: 600;
}

.blog-post-title:hover {
  color: #69b4fd;
}

.blog-post > p {
  color: #777;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.blog-post-footer {
  text-align: right;
  font-style: italic;
}
